/*quitar los border a la imágenes cuanto son hipervínculos*/
img{ border:0; }

/*Texto alineado a la derecha*/
.right{ text-align:right; }

/*Texto alineación justificada*/
.justify{ text-align:justify; }

/*Texto alineado al centro*/
.center{ text-align:center; }

fieldset{
	color: dodgerblue;
}

input{
	color: steelblue;
}

textarea{
	color: steelblue;
}

button{  background-color: lightblue; color: blue}


h1{	font-size: 2.0em; }
h2{	font-size: 1.5em; }


/*Contenedor principal*/
#container {
	margin: 0 auto;
	max-width: 1024px;
	border: 1px solid #000;
}

table, th, td{
	border: 2px solid dodgerblue;
}

th{
	color: blue;
	background-color: lightgray;
}

table{
	margin-left: auto;
	margin-right: auto;
}

/*********************************/
/*Encabezado*/
#header {
/*Color en degradado creado en http://www.colorzilla.com/gradient-editor/ */
	padding: 20px;
	height:60px;
	background-color: deepskyblue;
}

#header h1 { 
	margin: 0;
	font-weight:300;
	text-align: center;
	color: white;
	font-family: 'Titillium Web', sans-serif;
}
/*********************************/
/*Menú*/
#navigation {
	float: left;
	width: 100%;
	border:1px solid #000;
	font-family: 'Titillium Web', sans-serif;
	background-color: lightskyblue;
}

#navigation ul {	
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

#navigation ul li {	display: inline; }

#navigation li a {
	display: block;
	float: left;
	padding: 5px 10px;
	text-decoration: none;
	color: white;
}

#navigation li a:hover { background:#FF0000; }
/*********************************/
/*Contenido*/
#content {
	clear: left;
	padding: 20px;
	font-family: 'Titillium Web', sans-serif;
}

#content a { 
	/* Color de los hipervinculos*/
	color: red;
}

#content h1 {		
	padding-bottom: 10px;
}

#content h1, #content h2 {
	margin: 0 0 1em 0;
	color: blue;
	text-align: center;
}

/*********************************/
/*Pie*/
#footer {
	text-align: right;
	padding: 15px;
	height: 150px;
	border: 1px solid #000;
	font-family: 'Titillium Web', sans-serif;
	color: blue;
	background-color: lightblue;
}

#footer p { float:right; }

#footer h2 { margin:0; }

#footer ul {
	float:left;
	list-style-type: none;
	text-align:left;
	margin: 0 0 10px 0;		
	padding:0;

}

#footer ul li a {
	text-decoration:none;
	color: red;
}

#footer ul li a:hover {	text-decoration:underline; }

#footer .visitanos {
	margin-bottom: 10px;
	font-size:0.90em;
}

#alineado{width:700px;}

#alineado label{
	width: 25%;
	text-align: right;		
}

#alineado label, 
#alineado input, 
#alineado select, 
#alineado textarea{
	display:inline-block;
}

#alineado .chk{
	display:block;
	margin-left:25%;
	text-align:left;	
}

label.chk input {
	display:inline;
	border:0px;	
}

#vertical label{
	display:block;
}

#horizontal textarea, .horizontal select, .horizontal input, .horizontal label{
	display:inline;
}